/* Styles with mobile-first approach */

/* Cabecera */
.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.cabecera__buscar__item {
    display: none;
}

/*  Menu lateral */
.menu__container {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
}

.menu__lista { /* Las listas del menu permanecen ocultos en dispositivos moviles */
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.menu__lista:first-of-type { /* Solo la primer lista del menu lateral se muestra */
    display: flex;
}

.menu__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Seccion superior */
.superior__seccion__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 16px;
}

/* Seccion videos */

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos__item {
    height: 300px;
    width: 272px;
    flex-grow: 1;
}

.descripcion-video {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detalles__video {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 8px;
}

.detalles__video > h3 {
    max-height: 38px;
}

/* Rodapie */
.rodapie__container {
    display: flex;
    /* flex-direction: column; 
    flex-wrap: wrap; */
    flex-flow: column wrap; /*The twa previous attributes can be summed up in flex-flow*/
}

@media only screen and (min-width: 834px) {
    .cabecera__buscar__item {
        display: block;
    }

    /* Menu lateral */
    .menu__container {
        position: fixed;
        top: 80px;
        left: 0;
        width: 75px;
        height: auto;
    }

    .menu__lista {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 30px;
    }

    .menu__itens {
        gap: 8px;
    }

    /* Footer */
    .rodapie__container {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1440px) {
    .menu__container {
        width: 240px;
        overflow: scroll;
    }

    .menu__lista {
        display: flex;
        height: auto;
        padding: 16px 22px 16px 0;
        gap: 15px;
    }

    .menu__lista:nth-child(3), .menu__lista:nth-child(4) {
        flex-direction: column-reverse;
    }

    .menu__itens {
        flex-direction: row;
        align-items: center;
        gap: 16px;
        padding-left: 16px;
    }
}